*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,
.body {
    height: 100%;
}

.body{ 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.navi-bar{
    margin-right:30px;
    margin-left: 30px;
    width: 700px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    gap: 20px;
    border-radius: 3px;

}
.container {
    height: 700px;
    border-radius: 3px;
    width: 700px;
    background-color: black;
    margin-right:30px;
    margin-left: 30px;
    display: grid;a

}

.reset-btn {
    height: 30px;
    width:100px;
}

input{
    height: 30px;
    width: 100px;
}
